<table class="table table-striped table-bordered" id="table">
    <thead class="no-border">
        <tr>
            <th>Field Name</th>
            <th>DB Type</th>
            <th>Validations</th>
            <th>Html Type</th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="Primary">
                <i class="fa fa-key"></i>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="Is Foreign">
                <i class="fa fa-link"></i>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="In Index">
                <i class="fa fa-list"></i>
                <span class="badge bg-warning position-absolute mb-2" v-if="indexFields.length > 5">
                    {{ indexFields.length }}
                </span>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="Searchable">
                <i class="fa fa-search"></i>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="In View">
                <i class="fa fa-eye"></i>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="In Form">
                <i class="fa fa-edit"></i>
            </th>
            <th style="width: 68px" class="text-center" data-toggle="tooltip" title="Fillable">
                <i class="fa fa-file-import"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="container" class="no-border-x no-border-y ui-sortable">
        <template v-for="(field, index) in modelValue">
            <tr>
                <!-- --------------------- -->
                <!-- NAME -->
                <!-- --------------------- -->
                <td style="vertical-align: top">
                    <input type="text" style="width: 100%" required class="form-control txtFieldName" v-model="field.name"
                        @keydown.up.prevent="(event) => focus(event, index -1)"
                        @keydown.down.prevent="(event) => focus(event, index +1)"
                    />
                    <input type="text" class="form-control mt-2" placeholder="Foreign table,Primary key"
                        v-model="field.foreignTable" v-if="field.isForeign"
                    />
                </td>

                <!-- --------------------- -->
                <!-- DATABASE TYPE -->
                <!-- --------------------- -->
                <td style="vertical-align: top; min-width:9em">
                    <select class="form-control" style="width: 100%" v-model="field.dbType">
                        <optgroup label="Common">
                            <option value="string">String</option>
                            <option value="integer">Integer</option>
                            <option value="boolean">Boolean</option>
                            <option value="date">Date</option>
                            <option value="dateTime">DateTime</option>
                            <option value="timestamp">Timestamp</option>
                            <option value="enum">Enum</option>
                        </optgroup>
                        <optgroup label="Numeric">
                            <option value="float">Float</option>
                            <option value="double">Double</option>
                            <option value="decimal">Decimal</option>
                            <option value="increments">Increments</option>
                            <option value="smallInteger">SmallInteger</option>
                            <option value="bigInteger">BigInteger</option>
                        </optgroup>
                        <optgroup label="Text">
                            <option value="char">Char</option>
                            <option value="text">Text</option>
                            <option value="mediumText">MediumText</option>
                            <option value="longText">LongText</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="binary">Binary</option>
                        </optgroup>
                    </select>
                    <input type="text" class="form-control mt-2" placeholder="value1,value2"
                        v-model="field.dbValue" v-if="field.dbType=='enum'"
                    />
                </td>

                <!-- --------------------- -->
                <!-- VALIDATIONS TYPE -->
                <!-- --------------------- -->
                <td style="vertical-align: top">
                    <input type="text" class="form-control" v-model="field.validations"
                        @keydown.up.prevent="(event) => focus(event, index -1)"
                        @keydown.down.prevent="(event) => focus(event, index +1)"
                    />
                </td>

                <!-- --------------------- -->
                <!-- HTML TYPE -->
                <!-- --------------------- -->
                <td style="vertical-align: top; min-width:8em">
                    <select class="form-control" style="width: 100%" v-model="field.htmlType">
                        <optgroup label="Text">
                            <option value="text">Text</option>
                            <option value="email">Email</option>
                            <option value="password">Password</option>
                            <option value="textarea">TextArea</option>
                        </optgroup>
                        <optgroup label="Numeric">
                            <option value="number">Number</option>
                        </optgroup>
                        <optgroup label="Boolean">
                            <option value="checkbox">Checkbox</option>
                            <option value="toggle-switch">Toggle</option>
                        </optgroup>
                        <optgroup label="Pickers">
                            <option value="date">Date</option>
                            <option value="datetime">Datetime</option>
                            <option value="time">Time</option>
                            <option value="file">File</option>
                            <option value="select">Select</option>
                            <option value="radio">Radio</option>
                        </optgroup>
                    </select>

                    <input type="text" class="form-control mt-2" placeholder="value1,value2"
                        v-model="field.htmlValue" v-if="field.htmlType=='select'"
                    />
                </td>

                <!-- --------------------- -->
                <!-- CHECKBOXES -->
                <!-- --------------------- -->
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="Primary">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red primary" v-model="field.primary"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="Is Foreign">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red isForeign" v-model="field.isForeign"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="In Index">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red inIndex" v-model="field.inIndex"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="Searchable">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red searchable" v-model="field.searchable"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="In View">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red inView" v-model="field.inView"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="In Form">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red inForm" v-model="field.inForm"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>
                <td style="vertical-align: top; text-align: center;" data-toggle="tooltip" title="Fillable">
                    <div class="check-primary mt-2">
                        <input type="checkbox" class="flat-red fillable" v-model="field.fillable"
                            @keydown.up.prevent="(event) => focus(event, index -1)"
                            @keydown.down.prevent="(event) => focus(event, index +1)"
                        />
                        <label></label>
                    </div>
                </td>

                <!-- --------------------- -->
                <!-- REMOVE BUTTON -->
                <!-- --------------------- -->
                <td style="vertical-align: top; text-align: center;">
                    <i @click="removeField(field)" class="remove fa fa-trash mt-2"
                       style="cursor: pointer;font-size: 20px;color: red"></i>
                </td>

            </tr>

        </template>
    </tbody>
</table>
