<table class="table table-striped table-bordered" id="table">
    <thead class="no-border" v-if="modelValue.length">
        <tr>
            <th>Relation Type</th>
            <th>Foreign Model<span class="required">*</span></th>
            <th data-toggle="tooltip" title="Key on the foreign model">
                Foreign Key
            </th>
            <th data-toggle="tooltip" title="Key on the local model">
                Local Key
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="container" class="no-border-x no-border-y ui-sortable" v-if="modelValue.length">
        <template v-for="item in modelValue">
            <tr>
                <!-- --------------------- -->
                <!-- RELATION TYPE -->
                <!-- --------------------- -->
                <td style="vertical-align: top; min-width:9em">
                    <select class="form-control" v-model="item.relationType">
                        <option value="1t1">One to One</option>
                        <option value="1tm">One to Many</option>
                        <option value="mt1">Many to One</option>
                        <option value="mtm">Many to Many</option>
                    </select>
                    <input type="text" class="form-control mt-2" placeholder="Custom table name"
                        v-model="item.foreignTable" v-if="item.relationType=='mtm'"
                    />
                </td>

                <!-- --------------------- -->
                <!-- FOREIGN MODEL -->
                <!-- --------------------- -->
                <td style="vertical-align: top">
                    <input type="text" required class="form-control" v-model="item.foreignModel"/>
                </td>

                <!-- --------------------- -->
                <!-- FOREIGN KEY -->
                <!-- --------------------- -->
                <td style="vertical-align: top">
                    <input type="text" class="form-control" v-model="item.foreignKey"/>
                </td>

                <!-- --------------------- -->
                <!-- LOCAL KEY -->
                <!-- --------------------- -->
                <td style="vertical-align: top">
                    <select class="form-control" v-model="item.localKey">
                        <option v-for="field in fields" :value="field.name">{{ field.name }}</option>
                    </select>

                </td>

                <!-- --------------------- -->
                <!-- REMOVE BUTTON -->
                <!-- --------------------- -->
                <td style="vertical-align: top; text-align: center;">
                    <i @click="removeRelation(item)" class="remove fa fa-trash mt-2"
                       style="cursor: pointer;font-size: 20px;color: red"></i>
                </td>

            </tr>

        </template>
    </tbody>
</table>
